@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

ol{
  list-style: decimal !important;
}
.blog-content ul{
  list-style: disc;
}
.blog-content p{
  margin-top: 10px;
  margin-bottom: 10px;
}